body {
    font-size: 16px;
    font-family: Verdana, sans-serif;/*フォントの形式*/
    color: #333;
    margin: 0px;
    background: url(http://www.netyasun.com/home/bk-img/b002.gif);
    background-size: cover;
}

.container {
    width: 820px;
    margin: 0 auto;
    padding: 60px 0;
}


.haikei-bg {
    color: #fff;
    background: url(https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293_1280.jpg);
    background-size: cover;
}

.section-title{
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 60px;
    margin-top: 0;
}

/* subtitle */
.section-title::after {
    content: attr(data-subtitle);
    display: block;
    font-size: 16px;
    color: #aaa;
    padding-top: 10px; 
}

.btn {
    display: inline-block;
    width: 290px;
    background: #CCCCFF;
    color: #9999CC;
    text-align: center;
    text-decoration: none;/*下線を消す*/
    padding: 8px 0;/*余白*/
    border-radius: 5px;/*丸めるやつ*/
    opacity: 0.9;/*ボタンにカーソルが乗ると変化する*/
}

.btn:hover {
    opacity: 1.0;
}



/* header */



header h1 {
    margin-top: 0px;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 8px;
}

header p {
    margin-top: 0;
    margin-bottom: 50px;
}

header .container {
    
    position: relative;/*配置を相対的にする*/
}

 header img {
     position: absolute;/*画像を絶対配置*/
     bottom: 0;
     left: 500px;
 }


/* features */

.feature h1 {
    font-weight: normal;
    font-size: 18px;
}

/* 説明文のところ　*/
.feature .desc {
    width: 360px;
}

/*　左右に振り分ける*/
.feature:nth-of-type(odd) .desc {
    float: right;
    padding-left: 40px;
}

.feature:nth-of-type(even) .desc {
    float: left;
    padding-right: 40px;
}

.feature:not(:last-child){
    margin-bottom: 60px;
}

.feature{
    overflow: hidden;
}

/* Voices */
.voices {
    background: #f8f8f8;
}

/*要素を横に表示*/
.voices .flex {
    display: flex;
    justify-content: space-between;
}

.voice {
    width: 250px;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 60px 40px 25px;
}

.voice img {
    border-radius: 50%;/*丸くなる*/
    border: 10px solid #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -55px;
}

.voice h1 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.voices .section-title {
    margin-bottom: 95px;
}

/* call-to-action */

.call-to-action {
    text-align: center;
}

.call-to-action .section-title {
    margin-bottom: 15px;
}

/* footer */

footer {
    padding: 40px 0;
    text-align: center;
    color: #aaa;
}